
@{
    Layout = null;
}

<div class="card card-dark">
    <div class="card-header">
        <h3 class="card-title">افزودن غذا جدید</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- text input -->
            <div class="form-group">
                <label>نام غذا</label>
                <input type="text" id="Name" name="Name" class="form-control" placeholder="وارد کنید">
            </div>
        <button type="button" onclick="send()" class="btn btn-success">ثبت غذا</button>
    </div>
    <!-- /.card-body -->
</div>

<script>
    function send() {
        SendData('/Food/Create', { Name: $("#Name").val()});
    }
</script>