
@model EmployeeMG.Core.ApplicationContract.Food.ListFood


@{
    Layout = "_Layout";
    ViewData["Tit"] = "مدیرت غذا ها";
}



<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">لیست غذا ها</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                    <li class="breadcrumb-item active">لیست غذا ها</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-md-12">

                                    <form id="mform" action="/Food/Search" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#Content">
                                        <div id="Content">
                                            <partial name="_food" model="@Model" />
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <partial name="_Create" />
                <br />
                <partial name="Av" />
            </div>

        </div>
    </div>
</div>


@section js
{
    <script>

        function sendPage(pagenum) {
            $("#pageid").val(pagenum);
            $("#mform").submit();
        }
        function RefreshTable() {
            $("#myTable").load("/Food/Index #myTable");
            Close();
        }

        function Delete(_ID) {

            RemoveData("/Food/Delete/", {ID:_ID});
        }


    </script>
}