
@model EmployeeMG.Core.ApplicationContract.Cost.CostModel

@{
    Layout = null;
}



<div class="modal fade" id="EditModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form id="FrmCreate" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ویرایش هزینه</h5>
                    <button type="button" onclick="Close()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-right">
                                <input type="hidden" asp-for="Id" class="form-control">
                                <label>بابت</label>
                                <input type="text" asp-for="Forthe" class="form-control" placeholder="وارد کنید">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group text-right">
                                <input type="hidden" asp-for="Id" class="form-control">
                                <label>در تاریخ</label>
                                <input asp-for="CostDate" class="form-control persianDateInput">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group text-right">
                                <input type="hidden" asp-for="Id" class="form-control">
                                <label>به مبلغ</label>
                                <input type="number" asp-for="Amount" class="form-control" placeholder="وارد کنید">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="SendForm('/Cost/Edit','FrmCreate')" class="btn btn-primary">ویرایش</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Admin/dist/js/persian-date.min.js"></script>
<script src="~/Admin/dist/js/persian-datepicker.min.js"></script>

<script>

    $('.persianDateInput').persianDatepicker({
        format: 'YYYY/MM/DD',
        autoClose: true,
        initialValueType: "persian"
    });

    function Close() {
        $(document).ready(function () {
            $('#EditModal').remove();
            $('.modal-backdrop').remove();
        });
    }
</script>