
@model EmployeeMG.Core.ApplicationContract.Cost.ListCost

@{
    Layout = "_Layout";
    ViewData["Tit"] = "مدیریت هزینه ها";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <partial name="_Create" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2 text-bold">مشاهده هزینه ها</h5>
                        <div id="example2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="mform" action="/Cost/Search" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#Content">
                                        <div id="Content">
                                            <partial name="_Cost" model="@Model" />
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Admin/dist/js/persian-date.min.js"></script>
<script src="~/Admin/dist/js/persian-datepicker.min.js"></script>
@section js
{
    <script>

        $('.persianDateInput').persianDatepicker({
            format: 'YYYY/MM/DD',
            autoClose: true,
            initialValueType: "persian"
        });


        function sendPage(pagenum) {
            $("#pageid").val(pagenum);
            $("#mform").submit();
        }
        function RefreshTable() {
            $("#myTable").load("/Cost/Index #myTable");
            Close();
        }

        function Edit(_ID) {

            LoadComponenet("/Cost/Edit/",
                { ID: _ID },
                function (res) {
                    $('body').append(res);
                    $('#EditModal').modal();
                });

        }

        function Delete(_ID) {

            RemoveData("/Cost/Delete/", { ID: _ID });
        }

    </script>
}