
@model EmployeeMG.Core.ApplicationContract.AmountOfSalary.ListAmountOfSalary

@{
    Layout = "_Layout";
    ViewData["Tit"] = "مدیریت میزان حقوق";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">لیست میزان حقوق</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                    <li class="breadcrumb-item active">لیست میزان حقوق</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <a href="#" onclick="Create()" class="btn btn-secondary btn-block">افزودن➕</a>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2 text-bold">مشاهده میزان حقوق </h5>
                        <div id="example2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-md-12">

                                    <form id="AmountOfSalaryform" action="/AmountOfSalary/Search" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#Content">
                                        <div id="Content">
                                            <partial name="_AmountOfSalary" model="@Model" />
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section JS
{


    <script>
        function sendPage(pagenum) {
            $("#pageid").val(pagenum);
            $("#AmountOfSalaryform").submit();
        }


        $('[data-toggle="tooltip"]').tooltip();


        function RefreshTable() {
            $("#myTable").load("/AmountOfSalary/Index #myTable");
            Close();
        }


        function Create() {

            LoadComponenet("/AmountOfSalary/Create/",
                null,
                function (res) {
                    $('body').append(res);
                    $('#CreateAm').modal();
                });
        }

        function Edit(_ID) {

            LoadComponenet("/AmountOfSalary/Edit/",
                { ID: _ID },
                function (res) {
                    $('body').append(res);
                    $('#EditAm').modal();
                });
        }


        function Show(_ID) {

            LoadComponenet("/AmountOfSalary/Show/",
                { ID: _ID },
                function (res) {
                    $('body').append(res);
                    $('#EditAm').modal();
                });
        }

        function Delete(_ID) {
            RemoveData("/AmountOfSalary/Delete/", { ID: _ID });
        }

        $(document).ready(function () {    
    
            $('#FilterCodePersonnel').keypress(function (e) {

                var charCode = (e.which) ? e.which : event.keyCode;  
    
                if (String.fromCharCode(charCode).match(/[^0-9]/g))    
    
                    return false;                        
    
            });    
    
        });   


    </script>
}