
@model EmployeeMG.Core.ApplicationContract.Vacation.CreateVacation

@{
    Layout = null;
}


<div class="modal fade bd-example-modal-lg" id="Createvac" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form id="vacFrmCreate" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">افزودن مرخصی جدید</h5>
                    <button type="button" onclick="Close()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group text-right">
                                    <label class="control-label ">کد پرسنلی کارمند</label>
                                    <input autocomplete="off"  type="number" value="null" asp-for="PersonnelCode" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group text-right">
                                    <label class="control-label ">کد پرسنلی جانشین</label>
                                    <input autocomplete="off"  type="number" value="null" asp-for="PersonnelCodeSuccessor" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group text-right">
                                    <label class="control-label ">از تاریخ</label>
                                    <input asp-for="FromDate" class="form-control persianDateInput">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group text-right">
                                    <label class="control-label ">تعداد روز</label>
                                    <input type="number" maxlength="4" max="4" asp-for="CountDate" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="SendForm('/Vacation/Create','vacFrmCreate')" class="btn btn-primary">افزودن</button>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script src="~/Admin/dist/js/persian-date.min.js"></script>
<script src="~/Admin/dist/js/persian-datepicker.min.js"></script>

<script>

    $('.persianDateInput').persianDatepicker({
        format: 'YYYY/MM/DD',
        autoClose: true,
        initialValueType: "persian"
    });


    function Close() {
        $(document).ready(function () {
            $('#Createvac').remove();
            $('.modal-backdrop').remove();
        });
    }

</script>